.carousel-custom-css {
	margin-top: 3.85%;
	display: none;
}

.carousel-img {
  	width: auto;
  	height: 800px;
  	max-height: 800px;
  	min-height: 800px;
}

@media(max-height: 800px) {
	.carousel-img {
	  	width: auto;
	  	height: 500px;
	  	max-height: 500px;
	  	min-height: 500px;
	}
}

@media(max-width: 767px) {
	.carousel-img {
  		width: auto;
  		height: 400px;
  		max-height: 400px;
  		min-height: 400px;
	}
}

.carousel-h3 {
	background-color: rgba(0,0,0,0.5);
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 65%;
	margin: auto;
}

@media(max-width: 767px) {
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		width: 100%;
	    margin: auto;
	}
}