.active-brand {
	background-color: #080808;
}

.jumbotron-index {
	border-radius: 0px !important;
	margin-top: 5%;
	background-color: rgba(0,0,0,0.5);
	color: white;
	font-size: 1.6em !important;
	font-size: 1.3em !important;
	display: none;
}

.index-paragraph {
	padding-top: 5%;
}