.active-brand {
	background-color: #080808;
}

.jumbotron-index {
	display: none;
	border-radius: 0px !important;
	margin-top: 50%;
	margin-bottom: 40%;
	background-color: rgba(0,0,0,0.5);
	color: white;
}

@media (max-width: 1400px) {
	.jumbotron-index {
		margin-top: 20%;
		margin-bottom: 20%;
	}
}
