@import url("about_me.css");
@import url("funfacts.css");
@import url("hobbies.css");
@import url("index.css");
@import url("projects.css");

@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
	font-family: 'Roboto', sans-serif;
	background-image: url('../imgs/picture.jpeg');
	background-size: cover;
}

p {
	font-size: 1em !important;
}

nav a {
	color: white !important;
}

@media (min-width: 768px) {
	nav a {
		border-right: 1px solid white;
	}
}

nav a:hover {
	color: white !important;
	background: black !important;
}
