@import url("about_me.css");
@import url("funfacts.css");
@import url("hobbies.css");
@import url("index.css");
@import url("projects.css");

.background-img {
	background-size: cover;
	display: block;
	left: -5px;

	z-index: -1;
	position: fixed;

	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	filter: blur(4px);

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	margin:-5px;
}

.main-container-margin-top {
	margin-top: 51px;
}
